@import 'bootstrap/scss/bootstrap';
@import "sobre_nosotros";
@import "home";
@import "auth";
@import "perfil";

.nav-item {
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

footer{
    border-top: 1px solid #7f1d1d;
}

