.card-perfil{
    h6 {
        color: #6c757d;
    }

    a {
        background-color: #B70F0A;
        color: #f8fafc;
        border: 1px solid #B70F0A;
        &:hover {
            border: 1px solid #B70F0A;
            background-color: #f8fafc;
            color: #B70F0A;
        }
    }
}

.card-modificar-perfil {
    h6 {
        color: #6c757d;
    }

    a {
        background-color: #6c757d;
        color: #f8fafc;
        border: 1px solid #6c757d;
        &:hover {
            background-color: #f8fafc;
            color: #6c757d;
            border: 1px solid #6c757d;
        }
    }

    button {
        margin-top: 1em;
        background-color: #B70F0A;
        color: #f8fafc;
        border: 1px solid #B70F0A;
        &:hover {
            background-color: #f8fafc;
            color: #B70F0A;
        }
    }
}

.card-dar-baja {

    h3 {
        color: #B70F0A;
    }

    a {
        margin-top: 1em;
        background-color: #B70F0A;
        color: #f8fafc;
        border: 1px solid #B70F0A;
        &:hover {
            background-color: #f8fafc;
            color: #B70F0A;
        }
    }

    button {
        margin-top: 1em;
        background-color: #B70F0A;
        color: #f8fafc;
        border: 1px solid #B70F0A;
        &:hover {
            background-color: #f8fafc;
            color: #B70F0A;
        }
    }
}

.card-password {
    border-radius: 10px; 
    padding: 20px;
    max-width: 500px; // Limita el ancho máximo
    margin: 0 auto; // Centra horizontalmente
    margin-bottom: 2em; // Margen superior

    .alert {
        max-width: 100%; // Asegura que se ajuste al tamaño de la tarjeta
    }

    h3 {
        color: #B70F0A;
    }

    .button-password {
        margin-top: 1em;
        background-color: #B70F0A;
        color: #f8fafc;
        border: 1px solid #B70F0A;
        &:hover {
            background-color: #f8fafc;
            border: 1px solid #B70F0A;
            color: #B70F0A;
        }
    }

    a {
        background-color: #f8fafc;
        color: #000000;
        &:hover {
            background-color: #f8fafc;
            color: #B70F0A;
        }
    }

    .a-volver {
        background-color: #6c757d;
        color: #f8fafc;
        border: 1px solid #6c757d;
        &:hover {
            background-color: #f8fafc;
            color: #6c757d;
            border: 1px solid #6c757d;
        }
    }
}

